/* code font */

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}

/* codeblock */

div.highlighter-rouge  { 
  background: #f2f2f2; 
  padding: 15px;
}

pre { 
  white-space: pre; overflow: auto; 
  margin: 0px;
  padding-bottom: 10px;
}

/* single word in normal text */

code.highlighter-rouge {
  background-color: #f2f2f2;
  padding: 5px;
}


