/* single word in normal text */
code {
  background-color:  #f2f2f2;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}

/* codeblock */

.highlight  { 
  background: #f2f2f2; 
  padding: 15px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}
